<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.testMapper">

    <select id="queryStudents" resultType="com.example.demo.entity.tb_student">
        select stu_no from tb_student
    </select>

</mapper>